.wrapper {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1a1a1a;
    overflow: auto;
    min-height: 550px;
    .video_true {
        width: 100%;
        min-height: 210px;
        max-height: 210px;
        .clip_video {
            width: 100%;
            height:200px;
            margin: auto;
            background: transparent;
            background-color: red;
        }
    }
    .nav_bar_detail {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 25px;
    }
    .channel {
        width: 100%;
        height: 100px;
        background-color: #353535;
        margin-top: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        .list_chanel {
            width: 75%;
            max-width: 75%;
            background-color: #353535;
            height: 90%;
            max-height: 90%;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            overflow: hidden;
            margin-left: 10px;
            .chanel_true {
                width: 60px;
                height: 35px;
                margin-top: 5px;
                background-color: #5cb85c;
                margin-right: 10px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: 600;
                color: white;
            }
        }
    }
    .name_films {
        width: 100%;
        height: auto;
        min-height: 50px;
        max-height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    .name_films_years {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    .happy {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    .star {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }
    .list_films {
        width: 100%;
        max-height: 350px;
        background-color: #1a1a1a;
        min-height: 350px;
        .chanel_films_chapter {
            width: 100%;
            height: auto;
            max-height: 325px;
            background-color: #1a1a1a;
            overflow: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            overflow: auto;
            flex-wrap: wrap;
            padding: 5px;
            box-sizing: border-box;
            .page-films {
                width: 52px;
                height: 40px;
                background-color: white;
                margin-left: 18px;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }
    .foot_web {
        width: 100%;
        height: 85px;
        background-color: #282828;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .info_footer {
            width: 90%;
            height: 90%;
            background-color: #282828;
            .logo_footer {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .end_footer {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
            }
        }
    }
}


.offled {
    width: 100%;
    background-color: black;
    height: 280px;
}
